@import "abstracts/variables";

.rules-container {
  background-color: white;
  padding: 2rem;
  border-radius: 1em;

  .rules-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    h1 {
      font-size: 2rem;
      text-transform: uppercase;
      color: $dark-text-color;
      font-weight: 700;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;

      font-size: 2rem;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      outline: none;
    }
  }


}
